<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='botones.js') }}"></script>

    <title>Inicio</title>
</head>

<body>
    <h1>Listado de Usuarios</h1>
    <div class="divcentral">
        {% if usuarios %}
        <div class="listado">
            {% for usuario in usuarios %}
            <div class="elemento-lista">
                <p>ID: {{usuario._ID}}</p>
                <p>Nombre: {{usuario._Nombre}}</p>
                <p>Apellido: {{usuario._Apellido}}</p>
                {% if usuario._Tipo == 1 %}
                <p>Tipo: Estudiante</p>
                {% else %}
                <p>Tipo: Profesor</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h2>No hay usuarios cargados</h2>
        {% endif %}
    </div>

    <div class="interfazbase">
        <button onclick="redirigirBoton('/usuarios')">Volver</button>
        <button onclick="redirigirBoton('/home')">Inicio</button>
    </div>

</body>


</html>