<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='botones.js') }}"></script>
    <title>Inicio</title>
</head>

<body>
    <h1>Operaciones</h1>
    <div class="botones">
        <button onclick="redirigirBoton('/autores')">Autores</button>
        <button onclick="redirigirBoton('/libros')">Libros</button>
        <button onclick="redirigirBoton('/usuarios')">Usuarios</button>
        <button onclick="redirigirBoton('/reportes')">Reportes</button>
    </div>
</body>

</html>