<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='botones.js') }}"></script>
    <title>Inicio</title>
    <h1>Libros</h1>
    <div class="botones divcentral">
        <button onclick="redirigirBoton('/libros/listar')">Listar Libros</button>
        <button onclick="redirigirBoton('/libros/registrar')">Registrar Libro</button>
        <button onclick="redirigirBoton('/libros/prestamo')">Registrar Préstamo</button>
        <button onclick="redirigirBoton('/libros/devolucion')">Registrar Devolución</button>
    </div>

    <div class="interfazbase">
        <button onclick="redirigirBoton('/home')">Volver</button>
        <button onclick="redirigirBoton('/home')">Inicio</button>
    </div>
</body>
</html>